:root{
  --basic-black: #000000;
  --basic-white: #ffffff;
  --special-bg:rgba(255, 255, 255, 0.2);
  --extra-gray: #323232;
  --bg1: #849D8F;
  --bg2: #8996A6;
  --bg3: #9D8B84;
  --slider-hover:rgba(255, 255, 255, 0.4);
  --btn-color1: #F26843;
  --btn-color2: #E74A35;
  --btn-text-shadow: rgba(160, 32, 11, 0.76);
  --btn-box-shadow:rgba(172, 16, 0, 0.64);
  --btn-box-shadow2:#AC1000;
  --btn-box-shadow3: #942718;
  --box-shadow: rgba(0, 0, 0, 0.2);
  --btn-grad: rgba(0, 0, 0, 0.07);
  --active-nav: #D07058;
  --active-menu:#EDEDED;
  --active-menu--shadow: #696969;
  --link-hover:#E84D37;
  --link-hover-border: rgba(232, 77, 55, 0.3);
  --link-hover1: #FFBC9E;
  --link-body-border: rgba(255, 188, 158, 0.3);
  --gray: #5A5A5A;
  --medium-gray: #999999;
  --light-gray: #CACAC7;
  --raspberry-bg:#dc143c;
  --chocolate-bg: #4d260b;
  --about-bg: #fce2b5;
  --blog-link-border: #353535;
  --subscription-bg: #F8F7F4;
  --form-border:rgba(178, 178, 178, 0.52);
  --form-border-active:rgba(46, 136, 228, 0.52);
  --social-item-border:rgba(255, 255, 255, 0.5);
  --social-item-borger--active:rgba(255, 255, 255, 0.7);
  --filter-item: rgba(255, 255, 255, 0.8);
  --shadow-text: rgba(49, 50, 53, 0.5);
  --filter-value-hover:#1E90FF;
  --scale-bg:rgba(248, 247, 244, 0.5);
  --basket-light: #ABABAB;
  --box-shadow3: rgba(50, 50, 50, 0.2);
  --submenu-item-hover: #FBDED7;
  --submenu-item-active: #D07058;
  --submenu-item-active2: #F6B5A5;
  --box-shadow2: rgba(0, 0, 0, 0.4);
  --singIn-link-border: rgba(50, 50, 50, 0.3);
}

.body,
.body-inner{
  margin: 0;
  padding: 0;
  font-family: "Roboto", "Arial", sans-serif;
  color: var(--basic-white);
  font-size: 16px;
  line-height: 22px;
}
img {
  max-width: 100%;
}
a {
  text-decoration: none;
}
*, *::before, *::after {
  box-sizing: border-box;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*кнопка общие стили*/
.button{
  font-weight: bold;
  text-shadow: 0px 2px 5px var(--btn-text-shadow);
  color: var(--basic-white);
  background: linear-gradient(180deg, var(--btn-color1) 0%, var(--btn-color2) 100%);
  box-shadow: 0px 2px 2px var(--btn-box-shadow);
  border-radius: 70px;
  border: none;
  cursor: pointer;
}

.button:hover,
.button:focus{
  background: 
    linear-gradient(0deg, var(--special-bg), var(--special-bg)),
    linear-gradient(180deg, var(--btn-color1) 0%, var(--btn-color2) 100%);
  box-shadow: 0px 2px 2px var(--btn-box-shadow2);
  outline: none;
}

.button:active{
  background:
    linear-gradient(0deg, var(--btn-grad), var(--btn-grad)),
    linear-gradient(180deg, var(--btn-color1) 0%, var(--btn-color2) 100%);
  box-shadow: inset 0px 2px 2px var(--btn-box-shadow3);
  outline: none;
}

/*средняя кнопка*/
.button-middle{
  border-radius: 26px;
  background: linear-gradient(180deg, var(--btn-color1) 0%, var(--btn-color2) 100%);
  box-shadow: 0px 2px 2px var(--btn-middle-shadow);
  cursor: pointer;
  color: var(--basic-white);
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
}

.button-middle:hover{
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), linear-gradient(180deg, var(--btn-color1) 0%, var(--btn-color2) 100%);
  box-shadow: 0px 1px 2px var(--btn-box-shadow2);
  outline: none;
}

.button-middle:active{
background: linear-gradient(0deg, var(--btn-grad), var(--btn-grad)), linear-gradient(180deg, var(--btn-color1) 0%, var(--btn-color2) 100%);
box-shadow: inset 0px 2px 2px var(--btn-box-shadow3);
outline: none;
}

/*формы общие стили*/
.form{
  background: var(--basic-white);
  color: var(--medium-gray);
  border: 2px solid transparent; 
  outline: 1px solid var(--form-border);
  border-radius: 4px;
}
.form:hover{
  border: 2px solid var(--form-border);
  outline: none;
}
.form:focus{
  border: 2px solid var(--form-border-active);
  color: var(--extra-gray);
  outline: none;
}
 
.site-wrapper{
  background-repeat: no-repeat;
  background-position: top center;
  min-width: 1200px;
}
.site-wrapper-1{
  background-color: var(--bg1);
  background-image: url(../img/slide1.png);
}
.site-wrapper-2{
  background-color: var(--bg2);
  background-image: url(../img/slide2.png);
}
.site-wrapper-3{
  background-color: var(--bg3);
  background-image: url(../img/slide3.png);
}
.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 27px;
}

/*для каталога*/

.container-inner{
  width: 1200px;
  margin: 0 auto;
  padding: 0 27px;
}

.body-inner{
  margin: 0 auto;
  background-color: var(--bg1);
}

.main-inner{
  z-index: 2;
  margin-top: -32px;
  border-bottom: 1px solid var(--special-bg);
}

/*сетка хедер*/

.header{
  padding-top: 9px;
  display: grid;
  grid-template-columns: 267px 267px 267px 267px;
  gap: 26px;
}

.menu{
  grid-column-start: 1;
  grid-column-end: -1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contacts{
  margin-top: -6px;
  grid-column-start: -1;
  grid-column-end: -2;
  text-align: right;
  line-height: 8px;
}

.menu__list{
  font-weight: bold;
  line-height: 18px;
  list-style: none;
  display: flex;
  margin-top: 25px;
  margin-left: -320px;
}

.menu__link{
  position: relative;
  color: var(--basic-white);
  padding: 9px 13px 11px 13px;
  margin-right: 10px;
}

.menu__link span{
  border-bottom: 1px solid var(--special-bg);
}

.menu__link:hover,
.menu__link:focus{
  background-color: var( --basic-white);
  color: var( --extra-gray);
  border-radius: 26px;
  outline: none;
}

.menu__link:active{
  background: var(--active-menu);
  box-shadow: inset 0px 2px 1px var(--active-menu--shadow);
  padding: 9px 13px 11px 13px;
  border-radius: 26px;
  outline: none;
}

.menu__item{
  position: relative;
  padding-bottom: 20px;
}

.submenu{
  width: 143px;
  display: none;
  padding-top: 17px;
  padding: 0;
  position: absolute;
  top: 32px;
  background-color: var(--basic-white);
  list-style: none;
  border-radius: 4px;
  box-shadow: 0px 20px 20px var(--box-shadow2);
  z-index: 2;
}

.submenu__item{
  padding-left: 21px;
  padding-top: 7px;
  padding-bottom: 7px;
}

.submenu__item:first-of-type{
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 6px;
}

.submenu__link{
  color: var(--extra-gray);
  font-size: 14px;
  line-height: 16px;
  font-weight: normal;
}

.submenu__link span{
  display: block;
  font-weight: bold;
  border-bottom: 1px solid var(--box-shadow3);
  padding-top: 13px;
  padding-bottom: 13px;
  padding-left: 15px;
  margin-right: 9px;
}

.submenu__item:hover{
  border-radius: 4px;
  background-color: var(--submenu-item-hover); 
}

.submenu__item:focus-within{ 
  border-radius: 4px;
  background-color: var(--submenu-item-hover);
  outline: none;
}

.submenu__item:active{
  border-radius: 4px;
  background-color: var(--submenu-item-active2);
  outline: none;
}

.submenu__item--active,
.submenu__item--active:hover,
.submenu__item--active:focus-within{
  border-radius: 4px;
  background-color: var(--submenu-item-active);
  outline: none;
  border-radius: 0;
}

.submenu__link--active,
.submenu__link--active:hover,
.submenu__link--active:focus,
.submenu__link--active:active{
  color: var(--basic-white);
  outline: none;
}

.submenu__link:focus,
.submenu__link:active{
  outline: none;
}

.navigation-bar{
  display: flex;
}

.menu__item:hover>.submenu,
.menu__item:focus-within>.submenu{
  display: block;
}

.navigation-bar__search-link{
  display: block;
  width: 32px;
  height: 32px;
  background: url(../img/loupe.svg) no-repeat center center, var( --special-bg);
  border-radius: 50%;
}

.navigation-bar__search-link:hover,
.navigation-bar__search-link:focus{
  background: url(../img/loupe-hover.svg) no-repeat center center, var( --basic-white);
  outline: none;
}

/*блок поиска*/
.navigation-bar__search-wrapper{
  position: relative;
  padding-bottom: 6px;
}

.navigation-bar__search-block{
  display: none;
  position: absolute;
  top: 36px;
  right: 0px;
  width: 341px;
  background: var( --subscription-bg);
  box-shadow: 0px 20px 20px var(--box-shadow2);
  border-radius: 4px;
}

.search__form{
  width: 311px;
  margin: 20px 15px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 14px;
  padding-right: 5px;
  font-size: 14px;
  line-height: 16px;
}

.navigation-bar__search-wrapper:hover>.navigation-bar__search-block,
.navigation-bar__search-wrapper:focus-within>.navigation-bar__search-block{
display: block;
}

/*блок авторизации*/

.navigation-bar__singIn-link{
  display: flex;
  align-items: center;
  border-radius: 20px;
  width: 92px;
  height: 32px;
  background-color: var( --special-bg);
  color: var( --basic-white);
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  margin-left: 9px;
  margin-right: 9px;
  }
  
.navigation-bar__singIn-link::before{
  display: block;
  background-image: url("../img/entrance.svg");
  margin-left: 16px;
  margin-right: 8px;
  margin-top: -2px;
  content: "";
  width: 20px;
  height: 19px;
  vertical-align: middle;
}

.navigation-bar__singIn-link:hover,
.navigation-bar__singIn-link:focus{
  color: var(--extra-gray);
  background-color: var( --basic-white);
  outline: none;
}

.navigation-bar__singIn-link:hover::before,
.navigation-bar__singIn-link:focus::before{
  display: block;
  background-image: url("../img/entrance-hover.svg");
  margin-left: 16px;
  margin-right: 8px;
  content: "";
  width: 20px;
  height: 19px;
  vertical-align: middle;
}

.navigation-bar__singIn-wrapper{
  position: relative;
}

.navigation-bar__singIn-block{
  display: none;
  position: absolute;
  top: 36px;
  right: 0;
  width: 277px;
  background: var( --subscription-bg);
  box-shadow: 0px 20px 20px var(--box-shadow2);
  border-radius: 4px;
  font-size: 14px;
  line-height: 16px;
  z-index: 2;
}

.singIn__form{
  width: 241px;
  height: 44px;
  padding-top: 15px;
  padding-bottom: 14px;
  padding-left: 14px;
  padding-right: 5px;
  margin-top: 20px;
  margin-left: 19px;
}

.singIn__btn-wrapper{
  width: 241px;
  margin-left: 19px;
  margin-top: 20px;
  padding-bottom: 22px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.singIn__btn{
  padding: 15px 26px 15px 25px;
}

.singIn__list{
  display: flex;
  flex-direction: column;
}

.singIn__link{
  display: inline;
  color: var(--extra-gray);
  font-size: 13px;
  line-height: 15px;
}

.singIn__link span{
  border-bottom: 1px solid var(--singIn-link-border);
}


.singIn__link:first-of-type{
  margin-bottom: 9px;
}

.navigation-bar__singIn-wrapper:hover>.navigation-bar__singIn-block{
  display: block;
}

.navigation-bar__singIn-wrapper:focus-within>.navigation-bar__singIn-block{
  display: block;
}

/*корзина главная страница*/

.navigation-bar__basket-link{
  display: flex;
  align-items: center;
  background: var( --special-bg);
  color: var( --basic-white);
  border-radius: 20px;
  width: 100px;
  height: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
}

.navigation-bar__basket-link::before{
  display: inline-block;
  content: "";
  background-image: url("../img/basket.svg");
  width: 20px;
  height: 19px;
  vertical-align: middle;
  margin-left: 16px;
  margin-right: 8px;
}

.navigation-bar__basket-link:hover,
.navigation-bar__basket-link:focus{
  background-color: var(--basic-white);
  color: var(--extra-gray);
  outline: none;
}

.navigation-bar__basket-link:hover::before,
.navigation-bar__basket-link:focus::before{
  background-image: url("../img/basket-hover.svg");
  display: inline-block;
  content: "";
  width: 20px;
  height: 19px;
  margin-left: 16px;
  margin-right: 8px;
  vertical-align: middle;
}

.contacts__text{
  font-weight: bold;
  font-size: 14px;
  line-height: 8px;
  padding-bottom: 8px;
  margin-right: 10px;
}

.contacts__tel{
  color: var( --basic-white);
  font-weight: bold;
  font-size: 22px;
  padding: 5px 10px;
}

.contacts__tel:hover,
.contacts__tel:focus{
  background: var(--basic-white);
  color: var(--extra-gray);
  outline: none;
  border-radius: 70px;
}

/*слайдер*/

.slider{
  position: relative;
  padding-top: 321px;
  text-align: center;
  color: var(--basic-white);
}

.slide{
  display: none;
}
.slide-current{
  display: block;
}

.slider__list{
  margin: 0;
  padding: 0;
  list-style: none;
  margin: 0;
  padding: 0;
}

.slide__title{
  width: 700px;
  margin: 0 auto;
  margin-bottom: 27px;
  font-size: 60px;
  line-height: 60px;
  font-weight: 800;
}

.slider-btns{
  display: flex;
  margin-top: -25px;
}

.slide-button{
  padding: 9px 40px 10px 40px;
  font-weight: bold;
  font-size: 32px;
  line-height: 44px;
}

.slider__control{
  padding: 0;
  width: 19px;
  height: 19px;
  background-color: transparent;
  border: 2px solid var(--basic-white);
  border-radius: 50%;
  cursor: pointer;
  margin-right: 8px;
}

.slider__control:hover,
.slider__control:focus{
  background-color: var(--slider-hover);
  outline: none;
}

.slider__control:active{
  background-color: var(--basic-white);
  outline: none;
}

.slider__control .current{
  background-color: var(--basic-white);
}

/*промо*/

.promo{
  margin-top: 40px;
  margin-bottom: 40px;
}

.promo__list{
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
}
.promo__item{
  max-width: 560px;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
}

.promo__raspberry{
  background-image: url(../img/Raspberry.jpg);
  background-position: center center;
  background-repeat: round;
  background-color: var(--raspberry-bg);
}

.promo__chocolate{
  background-image: url(../img/chocolate.jpg);
  background-position: center center;
  background-repeat: round;
  background-color: var(--chocolate-bg);
}

.promo__item-title{
  font-weight: bold;
  font-size: 35px;
  line-height: 41px;
  margin-left: 16px;
  margin-top: 12px;
}

.promo__text{
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  margin-left: 16px;
  margin-top: 16px;
  margin-bottom: 42px;
}

.promo__btn{
  padding: 15px 22px 16px 22px;
  align-self: flex-end;
  margin-right: 22px;
  margin-bottom: 22px;
}

/*популярные товары*/
.goods__list-index{
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  flex-grow: 0;
  list-style: none;
}

.goods__item-index{
  position: relative;
  padding-left: -6px;
}

.goods__item-index::before{
  display: inline-block;
  position: absolute;
  content: "";
  background: url(../img/hit.svg);
  width: 61px;
  height: 61px;
  top: 2px;
  left: 2px;
  vertical-align: middle;
}

/*about*/
.about{
  background-image: url(../img/pattern.png);
  background-color: var(--about-bg);
  color: var(--extra-gray);
  border-radius: 16px;
  margin-top: 40px;
  padding-top: 24px;
  margin-bottom: 40px;
}

.about__title{
  font-weight: 500;
  font-size: 24px;
  line-height: 30px;
  margin-left: 20px;
  margin-bottom: 7px;
}

.about__list{
  padding: 0;
  margin: 0;
  margin-left: 20px;
  list-style: none;
  display: grid;
  grid-template-columns: 560px 560px;
}

.about__item{
  display: flex;
  flex-direction: row;
}

.about__text{
  display: block;
  width: 485px;
  margin-right: 26px;
}

.about__icon{
  display: block;
  width: 49px;
  height: 49px;
  margin-right: 6px;
  margin-top: 5px;
}

.about__icon1{
  background-image: url(../img/ice-cream.svg);
}

.about__icon2{
  background-image: url(../img/cow.svg);
}

.about__icon3{
  background-image: url(../img/eco.svg);
}

.about__icon4{
  background-image: url(../img/thermometer.svg);
}

.line-wrapper{
  display: flex;
  justify-content: space-between;
}
/*blog*/

.blog{
  width: 560px;
  background-color: var( --basic-white);
  background-image: url(../img/strawberry.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  color: var(--extra-gray);
  border-radius: 16px;
}

.blog__title{
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  padding-left: 20px;
  padding-top: 23px;
  padding-bottom: 14px;
}

.link__wrapper{
  width: 287px;
  margin-left: 20px;
  margin-bottom: 71px;
}

.blog__link{
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  color: var(--extra-gray);
}

.blog__link span{
  border-bottom: 2px solid var(--blog-link-border);
}

/*subscription*/
.subscription{
  width: 560px;
  background-color: var(--subscription-bg);
  background-image: url(../img/bg-post.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  color: var(--gray);
  border-radius: 16px;
}

.subscription__text{
  display: block;
  margin: 0;
  padding: 27px 16px 47px 20px;
}

.subscription__form-input{
  width: 368px;
  height: 44px;
  border-radius: 6px;
  padding-left: 14px;
  padding-right: 5px;
  margin-left: 20px;
  margin-right: 10px;
  margin-bottom: 35px;
}

.subscription__btn{
  padding: 14px 19px 13px 19px;
  }

/*map*/
.map{
  margin-top: 40px;
}

.map-wrapper{
  position: relative;
  background-color: var( --basic-white);
  background-image: url(../img/map.png);
  width: 1200px;
  height: 430px;
  margin: 0 auto;
}

.map__info{
  position: absolute;
  top: 62px;
  right: 27px;
  z-index: 3;
  width: 303px;
  background-color: var( --basic-white);
  color: var(--extra-gray);
  border-radius: 16px;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  z-index: 3;
}

.map__adress{
  width: 255px;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  margin: 0px;
  margin-left: 25px;
  padding-top: 32px;
}

.map__adress-text{
  display: block;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  width: 155px;
}

.map__telephon{
  margin-top: 30px;
  margin-left: 25px;
  margin-bottom: 0;
}

.map__telephon-link{
  display: block;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  color: var(--extra-gray);
}

.link__index:hover,
.link__index:focus{
  color: var(--link-hover);
  outline: none;
}

.link__index span:hover,
.link__index span:focus,
.link__index span:active{
  border-bottom: 1px solid var(--link-hover-border);
}

.map__btn{
  display: block;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  padding: 13px 28px 13px 28px;
  margin: 21px 25px 27px 25px;
  z-index: 50;
}

/*футер*/
.footer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 18px;
  padding-bottom: 25px;
}

.social__list{
  display: flex;
  list-style: none;
  padding-left: 0;
}

.social__item{
  margin-right: 12px;
}

.social__link{
  display: block;
  width: 36px;
  height:36px;
  border-radius: 50%;
  opacity: 0.8;
  border: 2px solid var(--social-item-border);
}

.social__fb{
  background: url(../img/fb.svg) no-repeat center center;
  margin-left: 2px;
}

.social__vk{
  background: url(../img/vk.svg) no-repeat center center;
}

.social__insta{
  background: url(../img/instagram.svg) no-repeat center center;
}

.social__tw{
  background: url(../img/twitter.svg) no-repeat center center;
}

.social__link:hover,
.social__link:focus{
  opacity: 1;
  border: 2px solid var(--social-item-border);
  outline: none;
  }

.social__link:active{
  opacity: 1;
  border: 2px solid var(--social-item-borger--active);
  outline: none;
  }

/*info*/

.info__list{
  list-style: none;
  display: grid;
  grid-template-columns: 135px 163px;
}

.info__link{
  color: var( --basic-white);
  font-size: 13px;
  line-height: 18px;
  border-bottom: 1px solid var(--special-bg);
}

.link__body:hover,
.link__body:focus,
.link__body:active{
  color: var(--link-hover1);
  border-bottom: 1px solid var(--link-body-border);
  outline: none;
}

.info__link-bold{
  font-weight: bold;
}

.heart__icon::before{
  display: inline-block;
  content: "";
  width: 15px;
  height: 13px;
  margin-right: 2px;
  background-image: url(../img/heart.svg);
  vertical-align: middle;
}

.heart__icon{
  margin-left: -20px;
}

/*copy*/

.copy__text{
  font-size: 12px;
  line-height: 18px;
  margin: 0;
}

.copy__link{
  color: var( --basic-white);
  border-bottom: 1px solid var(--special-bg);
}

.copy__link-img{
  margin-bottom: 8px;
}

.copy__link-img:focus,
.copy__link-img:active{
  outline: none;
}

/*каталог*/

.menu__link-logo:focus,
.menu__link-logo:active{
outline: none;
}

/*блок с товарами*/
.navigation-bar__basket-wrapper{
  position: relative;
}

.navigation-bar__basket-block{
  display: none;
  position: absolute;
  top: 36px;
  right: 16px;
  background-color: var(--basic-white);
  color: var(--extra-gray);
  min-width: 539px;
  font-size: 13px;
  line-height: 16px;
  padding-top: 20px;
  border-radius: 4px;
}

.basket__list{
  width: 510px;
  margin-top: 0;
  list-style: none;
  margin-left: 15px;
  padding: 0;
  border-bottom: 1px solid var(--light-gray);
}

.basket__item{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin-bottom: 20px;
}

.basket__item:last-child{
  margin-bottom: 18px;
}

/*кнопка удаления товара в корзине*/

.basket__close{
  border: none;
  background-color: var(--basic-white);
  background-image: url(../img/cross-small.svg);
  background-repeat: no-repeat;
  background-position: center center;
  width: 15px;
  height: 15px;
  margin-left: 6px;
  margin-right: 9px;
  margin-top: 15px;
  cursor: pointer;
  border: 1px solid transparent;
}

.basket__close:hover,
.basket__close:focus{
  outline: none;
  box-shadow: 0 1px 0 var(--active-menu--shadow);
}

.basket__close:active{
  outline: none;
  border: 1px solid transparent;
  box-shadow: inset 0px 2px 1px var(--active-menu--shadow);
  border-radius: 4px;
}

.basket__img{
  display: block;
  margin-top: 2px;
}

.basket__content-item{
  display: block;
  width: 216px;
  margin-left: 13px;
  margin-right: 31px;
}

.basket__light{
  color: var(--basket-light);
}

.basket__content-priсe{
  margin-right: 26px;
}

.basket__total-wrapper{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-top: 16px;
  margin-right: 14px;
  padding-bottom: 21px;
}

.basket__total{
  font-weight: bold;
  font-size: 15px;
  line-height: 16px;
  margin-top: 0;
  margin-bottom: 15px;
}

.basket__btn{
  font-size: 18px;
  line-height: 16px;
  padding: 13px 15px;
}

/*меню*/
.menu__link-active{
  padding: 9px 14px 11px 14px;
  background-color: var(--active-nav);
  color: var(--basic-white);
  border-radius: 26px;
}

.menu__link-active span{
  border-bottom: none;
}


.menu__link-active:hover,
.menu__link-active:focus,
.menu__link-active:active{
  background-color: var(--active-nav);
  color: var(--basic-white);
  outline: none;
}

.navigation-bar__basket-link--active{
  display: flex;
  position: relative;
  align-items: center;
  border-radius: 20px;
  width: 118px;
  height: 32px;
  margin-right: 16px;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: var( --extra-gray);
  background-color: var(--basic-white);
}

.navigation-bar__basket-link--active::before{
  display: inline-block;
  content: "";
  width: 21px;
  height: 20px;
  background-image: url(../img/basket-red.svg);
  vertical-align: middle;
  margin-left: 16px;
  margin-right: 7px;
}

.navigation-bar__basket-link--active:hover,
.navigation-bar__basket-link--active:focus,
.navigation-bar__basket-link--active:active{
  outline: none;
}

.navigation-bar__basket-wrapper:hover>.navigation-bar__basket-block,
.navigation-bar__basket-wrapper:focus-within>.navigation-bar__basket-block{
  display: block;
}

/*хлебные крошки*/

.breadcrumbs__list{
  margin-left: 0;
  padding-left: 0;
  list-style: none;
  display: flex;
}

.breadcrumbs__link{
  color: var(--basic-white);
  font-size: 14px;
  line-height: 16px;
  border-bottom: 1px solid var(--special-bg);
}

.breadcrumbs__link--active{
  border-bottom: none;
}

.breadcrumbs__item{
  display: flex;
  align-items: center;
}

.breadcrumbs__item::after{
  display: block;
  content: "";
  margin-left: 8px;
  margin-right: 8px;
  width: 6px;
  height: 6px;
  background: url(../img/icon-right-small.svg) no-repeat;
}

.breadcrumbs__item:last-child::after{
 content: none;
}

.goods__title{
  font-weight: bold;
  font-size: 35px;
  line-height: 41px;
}

/*фильтр*/

.filter{
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
}

.filter__line-one{
display: flex;
align-items: center;
margin-top: 29px;
margin-bottom: 14px;
}

.filter__line-two{
  display: flex;
  align-items: flex-end;
}

.filter__item-title{
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  margin-bottom: 7px;
}

.filter__item:nth-child(2){
  margin-left: 15px;
  margin-right: 15px;
}

/*общие стили*/

.filter__item{
  border: none;
  margin: 0;
  padding: 0;
}

/*выпадашка*/

.filter__select-wrapper{
  position: relative;
}

.filter__select{
  font-weight: 500;
  display: flex;
  align-items: center;
  border-radius: 20px;
  padding-left: 16px;
  padding-top: 13px;
  padding-bottom: 10px;
  background: var(--special-bg);
  color: var(--basic-white);
  border: none;
  cursor: pointer;
}

.filter__select::after{
  display: inline-block;
  content: "";
  background: url(../img/select-arrow.svg) no-repeat center center;
  width: 11px;
  height: 10px;
  vertical-align: middle;
  margin-left: 26px;
  margin-right: 13px;
}

.filter__select:hover,
.filter__select:focus{
  color: var(--extra-gray);
  font-weight: 500;
  background-color: var(--special-bg);
  outline: none;
}

.filter__select:hover::after,
.filter__select:focus::after{
  background-color: var(--special-bg);
  display: inline-block;
  content: "";
  background: url(../img/icon-down-dir.svg) no-repeat center center;
  width: 11px;
  height: 10px;
  vertical-align: middle;
  margin-left: 26px;
  margin-right: 13px;
}
.filter__select:active{
  outline: none;
}

.filter__list{
  display: none;
  position: absolute;
  list-style: none;
  margin-top: 1px;
  margin-left: -40px;
}

.filter__item-button{
margin-left: 0px;
}

.filter__value{
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: var( --extra-gray);
  background-color: var(--basic-white);
  border: none;
  width: 199px;
  height: 22px;
  text-align: left;
  padding-left: 20px;
  cursor: pointer;
}

.filter__value:hover,
.filter__value:focus,
.filter__value:active{
  outline: none;
  background-color: var(--filter-value-hover);
  color: var(--basic-white);
}

.filter__select-wrapper:hover>.filter__list,
.filter__select-wrapper:focus-within>.filter__list,
.filter__select-wrapper:active>.filter__list{
display: block;
top: 40px;
left: 0;
z-index: 4;
}

/*стоимость*/

.filter__range-wrapper{
  width: 218px;
  margin-top: 7px;
}

.filter__range-controls{
  position: relative;
  height: 36px;
  background-color: var(--special-bg);
  border-radius: 20px;
  margin-bottom: 5px;
  padding-top: 17px;
  padding-right: 21px;
  padding-left: 21px;
}

.filter__scale {
  height: 2px;
  background: var(--scale-bg);
}

 .filter__bar {
  width: 100px;
  height: 2px;
  background: var(--basic-white);
  margin-left: 23px;
}

.filter__range-controls .filter__toggle{
  position: absolute;
  top: 8px;
  background: url(../img/filter-button.svg);
  width: 20px;
  height: 22px;
  cursor: pointer;
}

.toggle-min{
  left: 44px;
}

.toggle-max{
  left: 142px;
}
/*жирность*/

.filter__item-wrapper{
  background-color: var(--special-bg);
  border-radius: 20px;
}

.wrapper-radio{
  padding-bottom: 7px;
  padding-top: 7px;
}

.custom-radio>.filter__item-radio{
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.custom-radio>.filter__item-text-radio{
  display: inline-flex;
  align-items: flex-end;
  user-select: none;
  margin-right: 19px;
}

.custom-radio>.filter__item-radio-text::before{
  content: "";
  display: inline-block;
  width: 22px;
  height: 22px;
  margin-right: 11px;
  flex-shrink: 0;
  flex-grow: 0;
  background-image: url("../img/radio-off.svg");
  background-repeat: no-repeat;
  background-position: center center;
  opacity: 0.6;
  cursor: pointer;
  vertical-align:text-top;
}

.filter__item-radio:not(:disabled):not(:checked)+.filter__item-radio-text:hover::before{
  opacity: 1;
}

.filter__item-radio:not(:disabled):active+.filter__item-radio-text::before{
  opacity: 1;
}

.filter__item-radio:focus+.filter__item-radio-text::before{
  opacity: 1;
}

.filter__item-radio:focus:not(:checked)+.filter__item-radio-text::before{
  opacity: 1;
}

.filter__item-radio:checked+.filter__item-radio-text::before{
  background-image: url("../img/radio-on.svg");
  opacity: 1;
}

.filter__item-radio:checked+.filter__item-radio-text:hover::before{
  opacity: 1;
}

.filter__item-radio:disabled+.filter__item-radio-text::before{
  opacity: 0.4;
}

.filter__item-radio-text{
  margin-right: 19px;
  cursor: pointer;
}

.custom-radio:first-child{
  padding-left: 14px;
}

/*добавки*/

.wrapper-checkbox{
  padding-top: 8px;
  padding-bottom: 8px;
}

.custom-checkbox>.filter__item-checkbox{
  position: absolute;
  z-index: -1;
  opacity: 0;
}
    
.custom-checkbox>.filter__item-checkbox-text{
  display: inline-flex;
  align-items: center;
  user-select: none;
  cursor: pointer;
  margin-right: 19px;
}

.custom-checkbox:first-child{
  padding-left: 16px;
}

.custom-checkbox>.filter__item-checkbox-text::before{
  content: "";
  display: inline-block;
  width: 24px;
  height: 20px;
  flex-shrink: 0;
  flex-grow: 0;
  background-image: url(../img/checkbox-off.svg);
  margin-right: 14px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  opacity: 0.8;
  cursor: pointer;
  vertical-align: middle;
}

.custom-checkbox>.filter__item-checkbox:not(:disabled):not(:checked)+.filter__item-checkbox-text:hover::before {
  opacity: 1;
}

.custom-checkbox>.filter__item-checkbox:not(:disabled):active+.filter__item-checkbox-text::before{
  opacity: 1;
}

.custom-checkbox>.filter__item-checkbox:focus+.filter__item-checkbox-text::before{
  opacity: 1;
}

.custom-checkbox>.filter__item-checkbox:focus:not(:checked)+.filter__item-checkbox-text::before{
  opacity: 1;
}

.custom-checkbox>.filter__item-checkbox:checked+.filter__item-checkbox-text::before{
  display: inline-block;
  content: "";
  background:
    url(../img/checkbox-on-checed.svg) no-repeat,
    url(../img/checkbox-off.svg) no-repeat; /*с галочкой*/
  width: 24px;
  height: 20px;
  background-repeat: no-repeat;
  background-position: center center;
  opacity: 1;
}

.filter__item-checkbox:checked+.filter__item-checkbox-text:hover::before{
  opacity: 1;
}

.custom-checkbox>.filter__item-checkbox:disabled+.filter__item-checkbox-text::before {
  opacity: 0.4;
}

/*кнопка применить*/
.filter__btn{
  color: var(--basic-white);
  background: var(--special-bg);
  padding: 9px 29px 9px 29px;
  border: 2px solid var(--basic-white);
  border-radius: 20px;
  cursor: pointer;
  margin-left: 14px;
}

.filter__btn:hover,
.filter__btn:focus{
  background: var(--basic-white);
  color: var(--extra-gray);
  border: 2px solid var(--basic-white);
  outline: none;
}

.filter__btn:active{
  background: var(--basic-white);
  color: var(--extra-gray);
  padding: 14px 31px 11px 31px;
  box-shadow: inset 0px 2px 1px var(--active-menu--shadow);
  border: none;
  outline: none;
}
/*конец фильтра*/

/*список товаров*/

.goods{
  display: flex;
  flex-direction: column;
}

.goods__list{
  padding: 0;
  margin: 0;
  list-style: none;
  display: grid;
  grid-template-columns: 267px  267px  267px  267px;
  gap: 26px;
  margin-top: 40px;
  margin-bottom: 80px;
}

.goods__item{
  position: relative;
  max-width: 293px;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 0;
  flex-shrink: 0;
  border-radius: 4px;
}

.goods__item::after{
  position: absolute;
  content: "";
  width: 293px;
  height: 405px;
  border-radius: 4px;
}

.goods__item-img{
  display: block;
  margin-top: 6px;
  margin-left: 13px;
  margin-right: 13px;
  margin-bottom: 17px;
}

.goods__item-prise{
  display: block;
  position: absolute;
  top: 160px;
  left: 15px;
  font-weight: bold;
  font-size: 45px;
  line-height: 45px;
  margin-bottom: 0;
  text-shadow: 0px 1px 3px var(--shadow-text);
}

.goods__item-prise span{
  font-size: 30px;
  line-height: 35px;
}

.goods__item-title{
  width: 267px;
  color: var(--basic-white);
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  margin-bottom: 14px;
  z-index: 8;
  cursor: pointer;
}

.goods__item-title span{
  border-bottom: 1px solid var(--special-bg);
}

.goods__item-title:hover,
.goods__item-title:focus{
  color: var(--link-hover1);
  outline: none;
}

.goods__item-title span:hover,
.goods__item-title span:focus-within,
.goods__item-title span:active{
  border-bottom: 1px solid var(--link-body-border);
}

.fast__view-wrapper{
  display: none;
  position: absolute;
  top: 355px;
  left: 35px;
  margin-bottom: 21px;
}

.fast__view{
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  padding: 12px 16px;
}

.goods__item:hover::after,
.goods__item:focus-within::after{
  background-color: var(--special-bg);
  box-shadow: var(--box-shadow);
  z-index: 7;
}

.goods__item:hover>.fast__view-wrapper{
  display: block;
  z-index: 8;
}

.goods__item:focus-within>.fast__view-wrapper{
  display: block;
  z-index: 8;
}

/*пагинация*/

.pagination{
  align-self: flex-end;
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.pagination__link{
  display: block;
  color: var(--basic-white);
  padding: 3px 8px;
  border-radius: 50%;
  font-size: 16px;
  line-height: 18px;
  margin-right: 12px;
  font-weight: 500;
  cursor: pointer;
}

.pagination__link:hover,
.pagination__link:focus{
  background-color: var(--special-bg);
  outline: none;
}

.link__active,
.link__active:hover,
.link__active:active{
  background-color: var(--basic-white);
  color: var(--extra-gray);
}

.pagination__link:active{
  padding: 3px 8px;
  background-color: var(--basic-white);
  color: var(--extra-gray);
}

.pagination__next{
  width: 7px;
  height: 12px;
  padding: 12px;
  background: url(../img/paginator-next.svg) no-repeat center center;
  border-radius: 50%;
}

.pagination__back{
  width: 7px;
  height: 12px;
  padding: 12px 14px 12px 10px;
  border-radius: 50%;
  background: url(../img/paginator-next.svg) no-repeat center center;
  transform: rotate(-180deg);
  margin-right: 15px;
  opacity: 0.2;
}

.disabled{
  opacity: 0.2;
}

.pagination__back:hover,
.pagination__back:focus,
.pagination__back:active{
  opacity: 1;
}

.pagination__next:hover,
.pagination__next:focus,
.pagination__back:hover,
.pagination__back:focus{
  background-color: var(--special-bg);
  outline: none;
}

.pagination__next:active{
  background-color: var(--basic-white);
  background-image: url(../img/paginator-next-hover.svg);
}

.pagination__back:active{
  background-color: var(--basic-white);
  background-image: url(../img/paginator-next-hover.svg);
  transform: rotate(-180deg);
}

/*модальное окно*/

.modal-show {
  display: block;
  animation: bounce 0.6s;
}

.modal-error {
  animation: shake 0.6s;
}

.feedback__modal{
  display: none;
  width: 100%;
  height: 100%;
  padding: 15px 0;
  overflow: auto;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.3);
}

.wrap{
  background-color: var(--subscription-bg);
  position: absolute;
  left: 50%;
  top:50%;
  transform: translate(-50%, -15%);
}

.modal__content{
  background-color: var(--subscription-bg);
  position: relative;
  width: 477px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.form-wrapper{
  padding-left: 24px;
  padding-top: 26px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.feedback__description{
  color: var(--extra-gray);
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  margin-top: 20px;
  margin-bottom: 4px;
  padding-left: 23px;
}

.feedback__name{
  padding: 12px 5px 12px 14px;
  margin-top: 0;
  margin-bottom: 20px;
}

.feedback__email{
  padding: 12px 5px 12px 14px;
  margin-bottom: 20px;
}

.feedback__text{
  padding-left: 14px;
  padding-top: 16px;
  padding-bottom: 26px;
  width: 428px;
}

.feedback__btn{
  align-self: flex-end;
  padding: 14px 24px 13px 24px;
  margin-top: 25px;
  margin-bottom: 27px;
}

.feedback__close{
  position: absolute;
  top: 15px;
  right: 16px;
  width: 20px;
  height: 19px;
  border: none;
  background-color: var(--subscription-bg);
  background-image: url(../img/cross-big.svg);
  background-position: center center;
  background-repeat: no-repeat;
  cursor: pointer;
}

.feedback__close:hover,
.feedback__close:focus{
  outline: none;
  box-shadow: 0 1px 0 var(--active-menu--shadow);
}

.feedback__close:active{
  outline: none;
  border: 1px solid transparent;
  box-shadow: inset 0px 2px 1px var(--active-menu--shadow);
  border-radius: 4px;
}

/* Animations */

@keyframes bounce {
  0% {
    transform: translateY(-2000px);
  }

  70% {
    transform: translateY(30px);
  }

  90% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0);
  }
}