:root{
  --basic-black: #000000;
  --basic-white: #ffffff;
  --special-bg:rgba(255, 255, 255, 0.2);
  --extra-gray: #323232;
  --bg1: #849D8F;
  --bg2: #8996A6;
  --bg3: #9D8B84;
  --btn-color1: #F26843;
  --btn-color2: #E74A35;
  --btn-text-shadow: rgba(160, 32, 11, 0.76);
  --btn-box-shadow:rgba(172, 16, 0, 0.64);
  --active-nav: #D07058;
  --active-menu:#EDEDED;
  --active-menu--shadow: #696969;
  --link-hover1: #FFBC9E;
  --gray: #5A5A5A;
  --medium-gray: #999999;
  --light-gray: #CACAC7;
  --raspberry-bg:#dc143c;
  --chocolate-bg: #4d260b;
  --about-bg: #fce2b5;
  --social-item-border:rgba(255, 255, 255, 0.5);
  --social-item-borger--active:rgba(255, 255, 255, 0.7);
  --filter-item: rgba(255, 255, 255, 0.8);
  --shadow-text: rgba(49, 50, 53, 0.5);
  --filter-value-hover:#1E90FF;
}

.body {
  margin: 0;
  padding: 0;
  font-family: "Roboto";
  color: var(--basic-white);
  font-size: 16px;
  line-height: 22px;
}
img {
  max-width: 100%;
}
a {
  text-decoration: none;
}
*, *::before, *::after {
  box-sizing: border-box;
}


.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

/*вспомогательные*/
.navigation-bar__singIn-block,
.navigation-bar__search-block,
.basket__list,
.feedback,
.submenu{
    display: none;
}

.site-wrapper {
    min-width: 940px;
    background-color: var(--bg1);
 }

/*базовая стилизация*/

.menu__list{
  font-weight: bold;
  line-height: 18px;
  list-style: none;
}

.menu__link{
  color: var(--basic-white);
  border-bottom: 1px solid var(--item-border);
}
.menu__link:hover,
.menu__link:focus{
  background-color: var( --basic-white);
  color: var( --basic-black);
  padding: 9px 13px 11px 13px;
  border-radius: 26px;
}

.menu__link:active{
  background: var(--active-menu);
  box-shadow: inset 0px 2px 1px var(--active-menu--shadow);
  border-radius: 26px;
  padding: 9px 13px 11px 13px;
}

.navigation-bar__search-link{
  display: block;
  margin: 20px;
  width: 32px;
  height: 32px;
  background: url(../img/loupe.svg) no-repeat center center, var( --special-bg);
  border-radius: 50%;
}

.navigation-bar__search-link:hover,
.navigation-bar__search-link:focus{
  background: url(../img/loupe-hover.svg) no-repeat center center, var( --basic-white);
}

.navigation-bar__singIn-link{
  display: flex;
  align-items: center;
  border-radius: 20px;
  width: 92px;
  height: 32px;
  background-color: var( --special-bg);
  color: var( --basic-white);
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  margin-bottom: 15px; /*вспомогательный*/
  }
  
.navigation-bar__singIn-link::before{
  display: block;
  background-image: url("../img/entrance.svg");
  margin-left: 16px;
  margin-right: 8px;
  margin-top: -2px;
  content: "";
  width: 20px;
  height: 19px;
  vertical-align: middle;
}


.navigation-bar__singIn-link:hover,
.navigation-bar__singIn-link:focus{
  color: var(--basic-black);
  background-color: var( --basic-white);
}

.navigation-bar__singIn-link:hover::before,
.navigation-bar__singIn-link:focus::before{
  display: block;
  background-image: url("../img/entrance-hover.svg");
  margin-left: 16px;
  margin-right: 8px;
  content: "";
  width: 20px;
  height: 19px;
  vertical-align: middle;
}

.navigation-bar__basket-link{
  display: flex;
  align-items: center;
  background: var( --special-bg);
  color: var( --basic-white);
  border-radius: 20px;
  width: 100px;
  height: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
}

.navigation-bar__basket-link::before{
  background-image: url("../img/basket.svg");
  /*margin-top: -2px;*/
  margin-left: 16px;
  margin-right: 8px;
  content: "";
  width: 20px;
  height: 19px;
  vertical-align: middle;
}


.contacts__text{
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  padding-bottom: 8px;
}

.contacts__tel{
  color: var( --basic-white);
  font-weight: bold;
  font-size: 22px;
  line-height: 24px;
}

/*Promo в следующий пулреквест

.promo__list{
  list-style: none;
}
.promo__item{
  max-width: 560px;
  border-radius: 16px;
}

.promo__raspberry{
  background-image: url(../img/Raspberry.jpg);
  background-color: var(--raspberry-bg);
}

.promo__chocolate{
  background-image: url(../img/chocolate.jpg);
  background-color: var(--chocolate-bg);
}

.promo__item-title{
  font-weight: bold;
font-size: 35px;
line-height: 41px;
}

.promo__text{
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
}

*/

.about{
  background-image: url(../img/pattern.png);
  background-color: var(--about-bg);
  color: var(--extra-gray);
}

.about__title{
  font-weight: 500;
  font-size: 24px;
  line-height: 30px;
}

.about__item{
  list-style: none;
}

.about__icon{
  display: block;
  width: 49px;
  height: 49px;
}

.about__icon1
{
  background-image: url(../img/ice-cream.svg);
}

.about__icon2{
  background-image: url(../img/eco.svg);
}

.about__icon3{
  background-image: url(../img/cow.svg);
}

.about__icon4{
  background-image: url(../img/thermometer.svg);
}

/*blog*/

.blog{
  max-width: 560px;
  background-color: var( --basic-white);
  background-image: url(../img/strawberry.jpg);
  color: var(--extra-gray);
  border-radius: 16px;
}

.blog__title{
  font-weight: 500;
}

.blog__link{
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  color: var(--extra-gray);
  text-decoration: underline;
}

/*subscription*/
.subscription{
  max-width: 560px;
  background-color: var( --basic-white);
  color: var(--extra-gray);
  border-radius: 16px;
  border-width: 5px;
  border-image-source: url(../img/bg-post.svg);
  border-image-slice: 5;
  border-image-repeat: round;
}
.subscription__form-input{
  color: var(--medium-gray);
}

.button{
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  text-shadow: 0px 2px 5px var(--btn-text-shadow);
  color: var(--basic-white);
  background: linear-gradient(180deg, var(--btn-color1) 0%, var(--btn-color2) 100%);
  box-shadow: 0px 2px 2px var(--btn-box-shadow);
  border-radius: 70px;
  border: none;
  }

  .subscription__btn{
    padding: 14px 19px 13px 19px;
  }
/*map*/
.map{
 background-color: var( --basic-white);
 background-image: url(../img/map.png);
}

.map__info{
  background-color: var( --basic-white);
  color: var(--extra-gray);
}

.map__address{
  font-size: 18px;
  line-height: 24px;
}

.map__description{
  font-size: 14px;
  line-height: 20px;
}

.map__telephon{
  color: var(--extra-gray);
}

.map__btn{
  padding: 13px 28px 13px 28px;
}

/*футер*/

.social__list{
  display: flex;
  list-style: none;
}

.social__item{
  margin-right: 12px;
}

.social__link{
  display: block;
  width: 36px;
  height:36px;
  border-radius: 50%;
  opacity: 0.8;
  border: 2px solid var(--social-item-border);
}

.social__fb{
  background: url(../img/fb.svg) no-repeat center center;
  margin-left: 2px;
}

.social__vk{
  background: url(../img/vk.svg) no-repeat center center;
}

.social__insta{
  background: url(../img/instagram.svg) no-repeat center center;
}

.social__tw{
  background: url(../img/twitter.svg) no-repeat center center;
}

.social__link:hover{
  opacity: 1;
  border: 2px solid var(--social-item-border);
  }

.social__link:active{
  opacity: 1;
  border: 2px solid var(--social-item-borger--active);
  }

/*info*/

.info__list{
  list-style: none;
}

.info__link{
  color: var( --basic-white);
  font-size: 13px;
  line-height: 18px;
  border-bottom: 1px solid var(--item-border);
}

.info__link:hover,
.info__link:active{
  color: var(--link-hover1);
}

.info__link-bold{
  font-weight: bold;
}

.heart__icon::before{
  display: inline-block;
  content: "";
  vertical-align: middle;
  width: 15px;
  height: 13px;
  margin-right: 2px;
  background-image: url(../img/heart.svg);
}

.heart__icon{
  margin-left: -20px;
}

/*copy*/

.copy__text{
  font-size: 12px;
  line-height: 18px;
}

.copy__link{
  color: var( --basic-white);
}


/*каталог*/

/*вспомогательный*/
.navigation-bar__basket-block{
  display: none;
}

/*меню*/
.menu__link-active{
  padding: 9px 14px 11px 14px;
  background-color: var(--active-nav);
  color: var(--basic-white);
  border-radius: 26px;
}

.navigation-bar__basket-link--active{
  display: flex;
  align-items: center;
  border-radius: 20px;
  width: 118px;
  height: 32px;
  margin-right: 16px;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: var( --extra-gray);
  background-color: var(--basic-white);
}

.navigation-bar__basket-link--active::before{
  display: inline-block;
  content: "";
  width: 21px;
  height: 20px;
  background-image: url(../img/basket-red.svg);
  vertical-align: middle;
  margin-left: 16px;
  margin-right: 7px;
}

/*хлебные крошки*/

.breadcrumbs__list{
  list-style: none;
  display: flex;

}

.breadcrumbs__link{
  color: var(--basic-white);
  font-size: 14px;
  line-height: 16px;
  border-bottom: 1px solid var(--item-border);
}

.breadcrumbs__link--active{
  border-bottom: none;
}

.breadcrumbs__item{
  display: flex;
  align-items: center;
}

.breadcrumbs__item::after{
  display: block;
  content: "";
  margin-left: 8px;
  margin-right: 8px;
  width: 6px;
  height: 6px;
  background: url(../img/icon-right-small.svg) no-repeat;
}


.breadcrumbs__item:last-child::after{
 content: none;
}

.goods__title{
  font-weight: bold;
  font-size: 35px;
  line-height: 41px;
}

/*фильтр*/

.filter{
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
}

.filter__item-title{
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
}

/*общие стили*/

.filter__item{
  border: none;
}

/*выпадашка*/

.filter__select{
  display: flex;
  align-items: center;
  padding-left: 16px;
  border-radius: 20px;
  padding-top: 13px;
  padding-bottom: 10px;
  background: var(--special-bg);
  color: var(--basic-white);
  border: none;
}

.filter__select::after{
  display: inline-block;
  content: "";
  background: url(../img/select-arrow.svg) no-repeat center center;
  width: 11px;
  height: 10px;
  vertical-align: middle;
  margin-left: 26px;
  margin-right: 13px;
}

.filter__select:hover,
.filter__select:focus{
  color: var(--extra-gray);
  background-color: var(--basic-white);
}

.filter__select:hover::after,
.filter__select:focus::after{
  background-color: var(--basic-white);
  display: inline-block;
  content: "";
  background: url(../img/icon-down-dir.svg) no-repeat center center;
  width: 11px;
  height: 10px;
  vertical-align: middle;
  margin-left: 26px;
  margin-right: 13px;
}

.filter__list{
  display: none;
  list-style: none;
  margin-top: 1px;
  margin-left: -40px;
}

.filter__item-button{
margin-left: 0px;
}

.filter__value{
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: var( --extra-gray);
  background-color: var(--basic-white);
  border: none;
  width: 196px;
  height: 22px;
  text-align: left;
  padding-left: 20px;
}

.filter__value:hover{
  background-color: var(--filter-value-hover);
  color: var(--basic-white);
}

/*жирность*/

.filter__item-wrapper{
  background-color: var(--special-bg);
  border-radius: 20px;
  padding-bottom: 7px;
  padding-top: 7px;
}
.custom-radio>input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

/* для элемента label связанного с .custom-radio */
.custom-radio>.filter__item-text-radio {
  display: inline-flex;
  align-items: center;
  user-select: none;
}

/* создание в label псевдоэлемента  before со следующими стилями */
.custom-radio>.filter__item-text-radio::before {
  content: "";
  display: inline-block;
  width: 22px;
  height: 22px;
  flex-shrink: 0;
  flex-grow: 0;
  background-image: url(../img/radio-off.svg);
  background-repeat: no-repeat;
  background-position: center center;
  opacity: 0.8;
}

/* стили при наведении курсора на радио */
.filter__item-radio:not(:disabled):not(:checked)+.filter__item-radio-text:hover::before {
  opacity: 1;
}

/* стили для активной радиокнопки (при нажатии на неё) */
.filter__item-radio:not(:disabled):active+.filter__item-radio-text::before {
  opacity: 1;
}

/* стили для радиокнопки, находящейся в фокусе */
.filter__item-radio:focus+.filter__item-radio-text::before {
  border: 1px solid var(--basic-black);
}

/* стили для радиокнопки, находящейся в фокусе и не находящейся в состоянии checked */
.filter__item-radio:focus:not(:checked)+.filter__item-radio-text::before {
  opacity: 1;
}

/* стили для радиокнопки, находящейся в состоянии checked */
.filter__item-radio:checked+.filter__item-radio-text::before {
  background-image: url("../img/radio-on.svg");
  opacity: 0.8;
}

.filter__item-radio:checked+.filter__item-radio-text:hover::before {
  opacity: 1;
}

/* стили для радиокнопки, находящейся в состоянии disabled */
.filter__item-radio:disabled+.filter__item-radio-text::before {
  opacity: 0.4;
}

.filter__item-radio-text{
  padding-left: 9px;
  padding-right: 15px;
}

/*добавки*/
    /* для элемента input c type="checkbox" */
    .custom-checkbox>input {
      position: absolute;
      z-index: -1;
      opacity: 0;
    }

    /* для элемента label, связанного с .custom-checkbox */
    .custom-checkbox>span {
      display: inline-flex;
      align-items: center;
      user-select: none;
    }

    /* создание в label псевдоэлемента before со следующими стилями */
    .custom-checkbox>span::before {
      content: "";
      display: inline-block;
      width: 24px;
      height: 20px;
      flex-shrink: 0;
      flex-grow: 0;
      background-image: url(../img/checkbox-off.svg);
      background-repeat: no-repeat;
      background-position: center center;
      opacity: 0.8;
    }

    /* стили при наведении курсора на checkbox */
    .custom-checkbox>input:not(:disabled):not(:checked)+span:hover::before {
      opacity: 1;
    }

    /* стили для активного чекбокса (при нажатии на него) */
    .custom-checkbox>input:not(:disabled):active+span::before {
      opacity: 1;
    }

    /* стили для чекбокса, находящегося в фокусе */
    .custom-checkbox>input:focus+span::before {
      border: 1px solid var(--basic-black);
      opacity: 1;
    }

    /* стили для чекбокса, находящегося в фокусе и не находящегося в состоянии checked */
    .custom-checkbox>input:focus:not(:checked)+span::before {
      opacity: 1;
    }

    /* стили для чекбокса, находящегося в состоянии checked */
    .custom-checkbox>input:checked+span::before {
      background-image: url("../img/checkbox-on.svg");
      background-repeat: no-repeat;
      background-position: center center;
      opacity: 0.8;
    }

    /* стили для чекбокса, находящегося в состоянии disabled */
    .custom-checkbox>input:disabled+span::before {
      opacity: 0.4;
    }

/*кнопка применить*/
.filter__btn{
  color: var(--basic-white);
  background: var(--special-bg);
  padding: 14px 29px 9px 29px;
  border: 2px solid var(--basic-white);
  border-radius: 20px;
}
/*конец фильтра*/

/*список товаров*/

.goods__list{
  list-style: none;
}

.goods__item{
  max-width: 293px;
}

.goods__item-prise{
  font-weight: bold;
  font-size: 45px;
  line-height: 45px;
  text-shadow: 0px 1px 3px var(--shadow-text);
}

.goods__item-prise span{
  font-size: 30px;
  line-height: 35px;
}

.goods__item-title{
  display: inline;
  font-weight: 500;
  font-size: 16px;
  border-bottom: 1px solid var(--item-border);
}

.fast__view{
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  color: var(--basic-white);
  display: none;
}

/*пагинация*/

.pagination{
  display: flex;
  align-items: center;
}

.pagination__link{
  color: var(--basic-white);
  padding: 3px 8px;
  border-radius: 50%;
  font-size: 16px;
  line-height: 18px;
  margin-right: 12px;
  font-weight: 500;

}

.pagination__next{
  width: 7px;
  height: 12px;
  background: url(../img/paginator-next.svg) no-repeat;
  margin-left: 14px;
}

.pagination__back{
  width: 7px;
  height: 12px;
  background: url(../img/paginator-next.svg) no-repeat;
  transform: rotate(-180deg);
  opacity: 0.2;
  margin-right: 26px;
}

.pagination__link:hover{
  background-color: var(--special-bg);
}

.link__active,
.pagination__link:active{
  color: var(--extra-gray);
  background-color: var(--basic-white);
}

.disabled:hover,
.disabled:focus{
  background:none;
}